ion-content {
  #map {
    margin: 0 5vw 5vh  5vw;
    width: 90vw;
    height: 60vh;
    opacity: 0;
    transition: opacity 150ms ease-in;
    display: block;
    &.show-map{
      opacity: 1;
    }
  }

  #controls{
    display: block;
    margin: 0 2vw 2vh 2vw;
    width: 90vw;
  }
}

ion-select {
  --padding-start: 0px;
  --padding-end: 0px;
  --padding-inline-end:0px,
  --padding-top : 0px;
  --padding-bottom : 0px;
}

ion-list.list-md {
  padding-top: 0px;
}

ion-button{
  margin-top: 25px;
  --ion-color-primary: #cd1f32
}

ion-toolbar{
  --ion-toolbar-background: #cd1f32;
}

ion-img{
  width: 50px;
  height: 50px;
  margin: 3px;
}